h1 {
    color: rgb(150, 22, 22);
}
  
p {
   color:rgb(216, 216, 216);
}

li {
    color: rgb(216, 216, 216);
}

h3 {
    color:rgb(217, 217, 217);
}
body {
    background-color: rgb(255, 255, 255);
    font-family: fantasy;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    from {
        background-color: rgb(157, 157, 157);
    }

    to {
        background-color: rgb(240, 238, 238);
    }
}

body {
    background-image: url(https://wallpapers.com/images/hd/stars-background-wallpaper-cars-hd-wallpaper-gobc57yh6xrtnrkz.jpg);
}
